<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880340788998-m9i8v1da0hfg6g3pp2lqm3qc9uu1r35s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880340788998-m9i8v1da0hfg6g3pp2lqm3qc9uu1r35s</string>
	<key>API_KEY</key>
	<string>AIzaSyBxNkAuMU_InXZQe4yFmBeinqJ_ZcqZA64</string>
	<key>GCM_SENDER_ID</key>
	<string>880340788998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.maharaChat</string>
	<key>PROJECT_ID</key>
	<string>farisapp-495cb</string>
	<key>STORAGE_BUCKET</key>
	<string>farisapp-495cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880340788998:ios:13123a15f16616a4cd2087</string>
</dict>
</plist>